* {
    margin: 0;
    padding: 0;
}

body {
    background: url('bg.jpg') no-repeat left top/cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 42vw;
    height: 100vh;
    color: white;
    position: absolute;
    top: 0.7vh;
    left: 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 3.2vw;
    display: inline-block;
    margin: 8vh 0;
}

.box {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box input {
    background: none;
    outline: none;
    color: white;
    border-style: none;
    text-align: center;
    font-size: 1.3vw;
    padding: 4vh 0;
}

.box input::placeholder {
    color: white;
}

.box i {
    width: 2vw;
    text-align: center;
    color: white;
    margin-right: 0.4vw;
}

.btn-div {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
    outline: none;
    font-size: 1vw;
    padding: 1.7vh 2.3vw;
    margin: 2vh;
    width: 9vw;
    background: none;
    color: white;
    border-radius: 10vw;
    border-style: none;
    border: 2px solid white;
    font-weight: bold;
}

.btn:hover {
    color: black;
    background: pink;
    font-size: 1.3vw;
}